@media screen and (max-width:1024px){
    nav {
        width: 1000px;
      }

      .header {
        display: none;
    }

    .doors-partitions{
        display: none;
    }

    .government {
        display: none;
    }
    
    .tasks {
        display: none;
    }

    .benefet {
        display: none
    }

    .production {
        display: none;
    }

    .variation_furniture {
        display: none;
    }

    .doors {
        display: none;
    }

}