@media screen and (max-width: 425px) {
    .menu {
        height: 160px;
    }

    nav {
        width: 420px;
    }
    
    .header-nav {
        text-align: left;
        position: relative;
    }

    .rusIntBlack-logo {
        margin-left: 0;
        padding-top: 10px;
    }
    
    .header-nav1_container_1 a {
        font-size: 20px;
        position: absolute;  
        top: 120px;   
        left: 20px;
    }

    .header-nav1_container_2 a {
        font-size: 20px;
        position: absolute;  
        top: 120px;   
        left: 150px;
    }

    .header-nav1_container_3 a {
        font-size: 20px;
        position: absolute;  
        top: 120px;   
        left: 250px;
    }

    .header-nav1_container_spb {
        position: absolute;
        top: 10px;
        left: 200px;
    }

    .spb {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .header-nav1_container_spb a{
        font-size: 16px;
    }

    .header {
        display: none;
    }

    .doors-partitions{
        display: none;
    }

    .government {
        display: none;
    }
    
    .tasks {
        display: none;
    }

    .benefet {
        display: none
    }

    .production {
        display: none;
    }

    .variation_furniture {
        display: none;
    }

    .doors {
        display: none;
    }
}