@media screen and (max-width:768px){
    nav {
        width: 765px;
      }
    
    .header-nav {
        justify-content: left;
    }

    .rusIntBlack-logo {
        width: 150px;
        margin-left: 0;
        margin-right: 20px;
    }  
    
    .header-nav1_container_1 a {
        font-size: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .header-nav1_container_2 a {
        font-size: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .header-nav1_container_3 a {
        font-size: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .header-nav1_container_spb {
        padding-top: 30px;
        padding-left: 40px;
    }

    .header-nav1_container_spb a {
        font-size: 16px;
    }

    .spb {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .header {
        display: none;
    }

    .doors-partitions{
        display: none;
    }

    .government {
        display: none;
    }
    
    .tasks {
        display: none;
    }

    .benefet {
        display: none
    }

    .production {
        display: none;
    }

    .variation_furniture {
        display: none;
    }

    .doors {
        display: none;
    }



}